@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

:root {
    --cor-fundo: #FFFFFF;
    --cor-texto: #667085;
    --cor-texto-titulo: #101828;
    --cor-destaque: #8E2424;
    --cor-fundo-secundario: #F9FAFB;
    --cor-mouse-hover: #f78484;


    --fonte-primaria: "Inter", sans-serif;
}

* {
    margin: 0;
    padding: 0;   
    border: 0;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
    box-sizing: border-box;
    font-family: var(--fonte-primaria);
}

h1, h3, h4 {
    color: var(--cor-texto-titulo);
}

.navegacao {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 10em;
    font-weight: 500;
    font-size: 16px;
    width: 100%;
}

.logo {
    display: flex;
    align-items: center;
    color: #3A404E;
    gap: 10px;
    font-size: 18px;
    width: auto;
}

.botoes {
    display: flex;
    align-items: center;
}

.menu {
    margin-left: 5em;
    margin-right: auto;   
}

.menu_item {
    color: var(--cor-texto);
    margin-right: 1em;
}

.bt__entrar {
    color: var(--cor-texto);
    margin-right: 1em
}

.bt__cadastrar {
    color: var(--cor-fundo);
    background-color: var(--cor-destaque);
    padding: 0.8em 1.6em;
    border-radius: 8px;
}

.bt__cadastrar:hover {
    color: var(--cor-fundo);
    background-color: var(--cor-mouse-hover);
    cursor: pointer;
}

.cabecalho {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 3em 25%;
}

.cabecalho h1, .cabecalho span {
    font-weight: 600;
    margin-bottom: 1em;
}

.cabecalho span {
    color: var(--cor-destaque);
}

.cabecalho h1 {
    font-size: 48px;
}

.cabecalho p {
    color: var(--cor-texto);
    font-weight: 400;
    font-size: 20px;
}

.metricas {
    display: flex;
    padding: 0 10em 5em 10em;
    width: 100%;
}

.metricas_item {
    flex: 1;
    margin: 0 1em;
}

.metricas_item span {
    font-weight: 600;
    font-size: 60px;
    color: var(--cor-destaque);
}

.metricas_item h4 {
    font-weight: 500;
    font-size: 18px;
    margin: 0.5em 0;
}

.metricas_item p {
    font-weight: 400;
    font-size: 16px;
    color: var(--cor-texto);
}

.divulgacao_vagas_banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 4em 3em;
}

.divulgacao_vagas_banner_destaque {
    font-weight: 500;
    font-size: 14px;
    color: var(--cor-destaque);
    background-color: rgba(142, 36, 36, 0.05);
    padding: 0.5em 1em;
    border-radius: 16px;
}

.divulgacao_vagas h1 {
    font-weight: 600;
    font-size: 36px;
    margin-bottom: 0.7em;
}

.divulgacao_vagas p {
    font-weight: 400;
    font-size: 16px;
    color: var(--cor-texto);
}

.divulgacao_vagas_banner img {
    width: 100%;
    padding: 0 8em;
    margin-top: 3em;
}

.divulgacao_vagas_categoria {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    margin-bottom: 2em;
}

.divulgacao_vagas_categoria h4 {
    font-size: 20px;
    margin: 0 25%;
}

.divulgacao_vagas_vaga {
    border: #EAECF0 1px solid;
    border-radius: 20px;
    margin: 1em 25%;
    padding: 2em;  
    display: flex;
    flex-direction: column;
}

.vaga_titulo {
    font-size: 18px;
    color: var(--cor-texto-titulo);
    padding-bottom: 10px;
}

.vaga_informacoes {
    margin-top: 0.5em;
    font-size: 16px;
    color: var(--cor-texto);
}

.vaga_informacoes :first-child {
    margin-right: 2em;
}

.depoimentos {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
    background-color: rgba(195, 25, 25, 0.03);
    margin: 3em 5em;
    padding: 3em;
    border-radius: 15px;
    gap: 5px;
}

.depoimentos span {
    font-size: 14px;
}

.depoimentos :first-child {
    color: var(--cor-destaque);
    font-weight: 600;
}

.depoimentos h3 {
    font-size: 36px;
    margin: 0.4em 0;
}

.depoimentos img {
    margin: 0.6em 0;
}

.depoente_nome {
    color: var(--cor-texto-titulo);
    font-weight: 500;
}

.depoente_cargo {
    color: var(--cor-texto);
    font-weight: 400;
}

.rodape {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 5em;
    padding: 5em;
    background-color: var(--cor-fundo-secundario);
    gap: 1em;
}

.rodape h1 {
    font-size: 36px;
    font-weight: 600;
}

.rodape p {
    font-size: 20px;
    color: var(--cor-texto);
    font-weight: 400;
}

.rodape_formulario {
    margin: 1em auto;
}

.rodape_formulario input {
    width: 360px;
    padding: 0.8em 1.4em;
    border-radius: 8px;
    margin-right: 1em;
}

.rodape span {
    font-size: 16px;
    color: #98A2B3;
    font-weight: 400;
}

@media (max-width: 768px) {
    .navegacao {
        flex-direction: column;
        align-items: flex-start;
        padding: 1em;
    }

    .logo, .menu, .botoes {
        width: 100%;
        justify-content: center;
        margin-bottom: 1em; /* Adiciona um espaço entre os elementos */
    }

    .botoes {
        flex-direction: column;
    } 

    .menu__item, .bt__entrar, .bt__cadastrar, .metricas {
        display: block; /* Faz cada item ocupar a linha inteira */
        margin: 0.5em 0; /* Adiciona um espaço vertical entre os itens */
    }

    .bt__cadastrar {
        width: auto; /* Permite que o botão de cadastro expanda para preencher a largura disponível */
        text-align: center;
    }

    .metricas, .divulgacao_vagas_banner img {
        padding: 1em 3em;
        text-align: center;
    }
}