@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

:root {
    --cor-fundo: #FFFFFF;
    --cor-texto: #667085;
    --cor-texto-titulo: #101828;
    --cor-destaque: #8E2424;

    --fonte-primaria: "Inter", sans-serif;
}

* {
    margin: 0;
    padding: 0;   
    border: 0;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
    box-sizing: border-box;
    font-family: var(--fonte-primaria);
}

.navegacao {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 10em;
    font-weight: 500;
    font-size: 16px;
    width: 100%;
}

.logo {
    display: flex;
    align-items: center;
    color: #3A404E;
    gap: 10px;
    font-size: 18px;
    width: auto;
}

.botoes {
    display: flex;
    align-items: center;
}

.menu {
    margin-left: 5em;
    margin-right: auto;   
}

.menu__item {
    color: var(--cor-texto);
    margin-right: 1em;
}

.bt__entrar {
    color: var(--cor-texto);
    margin-right: 1em
}

.bt__cadastrar {
    color: var(--cor-fundo);
    background-color: #8E2424;
    padding: 0.8em 1.6em;
    border-radius: 8px;
}

.cabecalho {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2em 25%;
}

.cabecalho h1, span {
    font-weight: 600;
    margin-bottom: 1em;
}

.cabecalho span {
    color: var(--cor-destaque);
}

.cabecalho h1 {
    font-size: 48px;
}

.cabecalho p {
    color: var(--cor-texto);
    font-weight: 400;
    font-size: 20px;
}